{% extends 'P5CoreBundle::layout.html.twig' %}

{% block body %}
<div id="todolist" class="col-sm-10">
	<h2>Ma Todolist</h2>
	<hr id="separate">
		{% block p5todolist_body %}
		{% endblock %}
</div>
{% endblock %}

