<h3>Rappel programmé !</h3>

<p>Bonjour {{ author }} !</p>

<p>Vous avez programmé un rappel sur votre Todolist</p>
</br>
<p>Smart Reminder vous le signale ! Aujourd'hui c'est le jour J !</p>
<p>Allez vite voir ce dont il s'agit !</p>
</br>
</br>
<p>Merci d'utiliser Smart Reminder !</p>