{% extends 'P5TodolistBundle::layout.html.twig' %}

{% block p5todolist_body %}
<div id="addremind">
	<div class="col-sm-12">
		<h3>Ajouter un rappel</h3>
		{{ form(form) }}
	</div>
</div>
{% endblock %}