{% extends 'P5TodolistBundle::layout.html.twig' %}

{% block p5todolist_body %}

<h3>Supprimer un rappel</h3>

<p> AFFICHAGE DU RAPPEL </p>

<div>
<p>Êtes vous certain de vouloir supprimer ce rappel ?<p>
</div>

<form>
<input type="submit" name="supprimer" value="Supprimer">
</form>

{% endblock %}