{% extends 'P5TodolistBundle::layout.html.twig' %}

{% block p5todolist_body %}
	
<div id="editremind">
	<div class="col-sm-12">
		<h3>Modifier un rappel</h3>
		{{ form(form) }}
	</div>	
</div>	
{% endblock %}