{% extends 'P5CoreBundle::layout.html.twig' %}

{% block body %}

<div id="welcome">
	<div id="introduction">
		<h2>Bienvenue sur Smart Reminder</h2>
		<p>Inscrivez-vous pour avoir accès à un espace membre où vous pourrez gérer votre Todolist!</p>
		<p>Celle-ci pourra vous rappeler ce que vous avez à faire dans la journée !</p>
	</div>
	<div id="weather">
		API weather à contruire.
	</div>
</div>

{% endblock %}